@model  MHS_FINAL_PROJECT.Models.ManageAccountViewModel
<div class="modal fade" id="ChangePassworModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title main-title-modal" id="exampleModalLongTitle">change your password</h5>
                <div class="modal_line"></div>
            </div>
            @if (ViewBag.StatusMessage == "The Old Password is not correct")
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.StatusMessage
                </div>
            }
            @if (ViewBag.StatusMessage == "The New Password is Same as Old Password")
            {
                <div class="alert alert-warning" role="alert" style="text-align:center">
                    @ViewBag.StatusMessage
                </div>
            }
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="inpu_modal">
                        @Html.LabelFor(m => m.ChangePassword.OldPassword, new { @class = "sub-title alighn " })
                        @Html.PasswordFor(m => m.ChangePassword.OldPassword, new { @class = "OldPassword", @value = ""  , @autocomplete = "new-password" })
                        @Html.ValidationMessageFor(m => m.ChangePassword.OldPassword, "", new { @class = "text-danger" })


                    </div>
                    <div class="inpu_modal">
                        @Html.LabelFor(m => m.ChangePassword.NewPassword, new { @class = "sub-title alighn" })
                        @Html.PasswordFor(m => m.ChangePassword.NewPassword, new { @class = "NewPassword" })
                        @Html.ValidationMessageFor(m => m.ChangePassword.NewPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="inpu_modal">
                        @Html.LabelFor(m => m.ChangePassword.ConfirmPassword, new { @class = "sub-title alighn" })
                        @Html.PasswordFor(m => m.ChangePassword.ConfirmPassword, new { @class = "ConfirmPassword" })
                        @Html.ValidationMessageFor(m => m.ChangePassword.ConfirmPassword, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" @*onclick="save_password();"*@ class="btn_save">Save</button>
                    <button type="button" class="btn_close" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>